* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Jost', sans-serif;
}

/* START OF NAVIGATION ITEMS */

.docApp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 10%;
}
.docApp span {
  font-weight: 700;
  transition: 0.1s ease-in-out;
  font-family: 'Jost', sans-serif;
  color: #1c3d6a;
}

.docApp h3 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Jost', sans-serif;
  color: #1479ff;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bolder;
}

.docApp > div {
  margin: 30px auto;
  cursor: pointer;
}

.docApp i {
  text-align: center;
  display: block;
  color: #1479ff;
  border-radius: 15px;
  background-color: #f8fbff;
  font-size: 20px;
  padding: 20px;
  margin-bottom: 5px;
  transition: 0.3s ease-in-out;
}

.docApp i:hover {
  background-color: #1479ff;
  color: #fff;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.36);
}

.docApp span:hover {
  color: #1479ff;
}

.dummyImage {
  height: 70px;
  width: 70px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.profile {
  text-align: center;
}
.dashboard-icon i {
  background-color: #1479ff;
  color: #fff;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.26);
}
.dashboard-icon span {
  color: #1479ff;
}
.docApp i:last-child {
  background-color: #fff;
  color: rgb(61, 57, 57);
  display: inline;
  font-size: 15px;
}

/* RESOPNSIVE */
@media only screen and (max-width: 600px) {
  .docApp {
    flex-direction: row;
    width: 100%;
  }

  .docApp h3 {
    margin-top: 20px;
  }

  .docApp > div {
    margin: 10px auto;
  }

  .docApp i {
    font-size: 20px;
    padding: 10px;
  }
}

/* END OF NAVIGATION ITEMS */

/* ---------START OF DASHBOARD-------- */

.dashboard {
  width: 25%;
  background-color: #f8fbff;
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 20px;
}
.dashboard h1 {
  margin-top: 45px;
  color: rgb(28, 30, 31);
  font-size: 40px;
  font-weight: 700;
}
.dashboard p {
  color: rgb(124, 123, 123);
  font-size: 20px;
  margin: 10px auto;
}

.timeline {
  margin: 20px 0;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: rgb(124, 123, 123);
  font-size: 20px;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(187, 184, 184, 0.66);
}
.timeline * {
  align-self: center;
  padding: 0 25px;
}

.timeline > i > span {
  padding: 0 15px;
  font-family: 'Jost', sans-serif;
}
.timeline:first-child {
  background-color: #e6f1ff;
}

.timeline:nth-last-child(2) {
  border: 2px solid #1479ff;
  color: #1479ff;
  font-weight: bold;
  background: #fff;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.36);
}

hr {
  width: 150px;
  margin: 20px auto;
}
.dashboard button {
  padding: 20px 15px;
  margin: 15px 0;
  /* width: 90%; */
  text-align: center;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.36);
}
.btn-1 {
  color: #fff;
  background-color: #1479ff;
}
.btn-2 {
  background-color: #fff;
}

@media only screen and (max-width: 600px) {
  .dashboard {
    width: 100%;
    padding: 20px;
  }
  .dashboard h1 {
    margin-top: 20px;
  }

  .timeline {
    font-size: 15px;
  }

  hr {
    margin: 10px auto;
  }
  .dashboard button {
    padding: 15px 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 10px;
    font-size: 15px;
  }
}
/* ---------END OF DASHBOARD-------- */

.thirdSection {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 65%;
  background-color: #f8fbff;
}

/* ROW 1 */
.row1 {
  display: flex;
  flex-direction: row;
  height: 400px;
}
.col1 {
  margin-top: 50px;
  margin-right: 20px;
  width: 33.33%;
  border-radius: 25px;
  background-color: #fff;
  padding: 25px;
  box-shadow: 0px 0px 6px 3px rgba(102, 20, 20, 0.2);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
}
.col1 > h1 {
  font-size: 30px;
  margin-bottom: 25px;
  font-weight: 700;
}
.col2 {
  margin-top: 50px;
  margin-left: 20px;
  width: 66.67%;
  border-radius: 20px;
  background-color: #fff;
  padding: 25px;
  box-shadow: 0px 0px 6px 3px rgba(102, 20, 20, 0.26);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.26);
}
.dates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.box:first-child {
  margin-left: 85px;
}
.box {
  margin: 3px;
  border-radius: 13px;
  height: 35px;
  width: 35px;
  border: 2px solid rgb(196, 196, 196);
}
.box:nth-child(2) {
  border: 3px solid #1479ff;
}
.box:nth-child(3) {
  border: 3px solid #1479ff;
}
.box:nth-child(4) {
  border: 3px solid #1479ff;
}
.box:nth-child(15) {
  border: 3px solid #1479ff;
}
.box:nth-child(16) {
  border: 3px solid #1479ff;
}
.box:nth-child(17) {
  border: 3px solid #1479ff;
  background-color: #1479ff;
  color: #fff;
  padding: 4px 3px 5px 6px;
  box-shadow: 0px 0px 6px 3px rgba(102, 20, 20, 0.15);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.15);
}
.box:nth-child(18) {
  border: 3px solid #1479ff;
}
.box:nth-child(21) {
  border: 3px solid #1479ff;
}
.box:nth-child(22) {
  border: 3px solid #1479ff;
}
.box:nth-child(23) {
  border: 3px solid #1479ff;
}
.box:nth-child(28) {
  border: 3px solid #1479ff;
}
.box:nth-child(29) {
  border: 3px solid #1479ff;
}
.box:nth-child(30) {
  border: 3px solid #1479ff;
}

/* -----Col 2 */
.col2 {
  display: flex;
}
.col2-text {
  width: 50%;
}
.col2-img {
  width: 50%;
}
.col2-text * {
  margin-bottom: 25px;
}
.col2-text * {
  margin-bottom: 25px;
}
/* col2-text */

.col2-text p {
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 1px;
}
.col2-text button {
  background: #1479ff;
  border: none;
  padding: 12px;
  width: 250px;
  border-radius: 15px;
  font-size: 18px;
  color: #fff;
  box-shadow: 0px 0px 6px 3px rgba(102, 20, 20, 0.15);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.15);
}

/* col2 Image */
.col2-img > img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .thirdSection {
    padding: 5px;
    display: flex;
    flex-direction: row;
    width: 100% !important;
  }

  /* ROW 1 */
  .row1 {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .col1 {
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
  }

  .col2 {
    margin: 15px auto;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
  }

  /* -----Col 2 */

  .col2-text button {
    padding: 10px;
  }
}

/* -- -------ROW TWO------ */
.row2 {
  margin-top: 50px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 6px 3px rgba(102, 20, 20, 0.22);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.22);
}
.appointmentsRow {
  margin: 25px;
}
.usersAppointment {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.usersAppointment > .user {
  border-radius: 15px;
  margin: 20px;
  padding: 20px 30px;
  box-shadow: 0px 0px 6px 3px rgba(102, 20, 20, 0.15);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.15);
}
.user > i {
  text-align: center;
  display: block;
  color: #1479ff;
  border-radius: 40%;
  background-color: #f3f8ff;
  font-size: 25px;
  padding: 25px;
  margin-bottom: 5px;
  transition: 0.3s ease-in-out;
}
.user:first-child {
  border: 2.5px solid #1479ff;
  box-shadow: 0px 0px 6px 3px #147aff42;
  -webkit-box-shadow: 0px 0px 6px 3px #147aff57;
  -moz-box-shadow: 0px 0px 6px 3px #147aff41;
}
.user p {
  color: #1c3d6a;
  font-weight: 700;
}
.user p:last-child {
  margin-top: 10px;
  color: #89919bc4;
  font-weight: normal;
}

@media only screen and (max-width: 600px) {
  .row2 {
    margin-top: 20px;
    width: 100%;
  }
  .appointmentsRow {
    margin: 25px auto;
  }
  .usersAppointment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .usersAppointment > .user {
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
  }
  .user > i {
    text-align: center;
    display: block;
    color: #1479ff;
    border-radius: 30%;
    background-color: #f8fbff;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 5px;
    transition: 0.3s ease-in-out;
  }
}
/* ----------MONTHLY REPORTS------- */
.monthlyReports {
  display: flex;
}
.reportHeadind h1 {
  margin: 25px;
  letter-spacing: 1px;
}
.monthlyReports-Icon i {
  text-align: center;
  display: block;
  color: #1479ff;
  border-radius: 10px;
  background-color: #f8fbff;
  font-size: 15px;
  padding: 15px;
  margin-bottom: 5px;
  transition: 0.3s ease-in-out;
}
.report-1,
.report-2 {
  display: flex;
  width: 50%;
  margin: 25px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 3px rgba(102, 20, 20, 0.15);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.15);
}
.reports-progressbar {
  width: 100%;
}

.reports-progressbar > p {
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}

#progressbar1 {
  background-color: #e6f1ff;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 2px;
}

#progressbar1 > div {
  background-color: #1479ff;
  width: 85%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
  text-align: end;
  color: #fff;
  padding-right: 15px;
}

#progressbar2 {
  background-color: #e6f1ff;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar2 > div {
  background-color: #1479ff;
  width: 75%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
  text-align: end;
  color: #fff;
  padding-right: 15px;
}

@media only screen and (max-width: 600px) {
  .monthlyReports {
    display: flex;
    flex-wrap: wrap;
  }
  .reportHeadind h1 {
    margin: 20px auto;
  }
  .monthlyReports-Icon i {
    text-align: start;
    display: block;
    color: #1479ff;
    border-radius: 10px;
    background-color: #f8fbff;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 5px;
    transition: 0.3s ease-in-out;
  }
  .report-1,
  .report-2 {
    display: flex;
    width: 100%;
    margin: 25px;
    padding: 5px;
  }

  .reports-progressbar > p {
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    width: 100%;
  }
}

/* ---------Responsive for laptop-------- */
@media only screen and (min-width: 1030px) and (max-width: 1600px) {
  .docApp h3 {
    margin: 20px auto;
  }

  /* END OF NAVIGATION ITEMS */

  /* ---------START OF DASHBOARD-------- */

  .dashboard {
    padding-left: 20px;
    padding-right: 10px;
  }
  .dashboard h1 {
    margin-top: 20px;
    font-size: 30px;
  }
  .dashboard p {
    color: rgb(124, 123, 123);
    font-size: 20px;
    margin: 10px auto;
  }

  .timeline {
    margin: 20px auto;
    width: 100%;
    border-radius: 10px;
    color: rgb(124, 123, 123);
    font-size: 15px;
    padding: 15px 0;
  }

  /* ---------END OF DASHBOARD-------- */
  .thirdSection {
    padding-left: 20px;
    padding-right: 20px;
    width: 65%;
    background-color: #f8fbff;
  }

  /* ROW 1 */
  .row1 {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .col1 {
    margin-top: 20px;
    margin-right: 20px;
    width: calc(33.33% - 40px);
    padding: 5px;
  }
  .col1 > h1 {
    font-size: 30px;
    padding: 20px 0 0 20px;
    margin-bottom: 15px;
  }
  .col2 {
    margin-top: 20px;
    margin-left: 10px;
    width: 66.67%;
  }
  .dates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* -----Col 2 */

  .col2-text {
    width: auto;
  }

  .col2-text * {
    margin-bottom: 25px;
  }
  .col2-text * {
    margin-bottom: 25px;
  }
  /* col2-text */

  .col2-text button {
    background: #1479ff;
    border: none;
    padding: 12px;
    width: 250px;
    border-radius: 15px;
    font-size: 18px;
    color: #fff;
    box-shadow: 0px 0px 6px 3px rgba(102, 20, 20, 0.15);
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.15);
  }

  /* col2 Image */
  .col2-img > img {
    width: 100%;
  }

  .row2 {
    margin-top: 50px;
  }

  .usersAppointment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
  }
  .usersAppointment > .user {
    border-radius: 15px;
    margin: 10px;
    padding: 10px 15px;
  }
  .user > i {
    font-size: 20px;
    padding: 20px;
  }
  .user:first-child {
    border: 2px solid #1479ff;
  }

  .user p:last-child {
    margin-top: 5px;
  }

  /* -------MONTHLY REPORT------- */
  .reportHeadind h1 {
    margin: 25px 0 0 25px;
  }
  .monthlyReports-Icon {
    text-align: center;
    justify-content: center;
    display: block;
    color: #1479ff;
    border-radius: 10px;
    background-color: #f8fbff;
    font-size: 15px;
    padding: 15px;
    transition: 0.3s ease-in-out;
  }
  .report-1,
  .report-2 {
    display: flex;
    width: 50%;
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
  }

  .reports-progressbar > p {
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
  }

  #progressbar1 {
    background-color: #e6f1ff;
    border-radius: 13px;
    padding: 2px;
    width: 100%;
  }

  #progressbar1 > div {
    background-color: #1479ff;
    width: 85%;
    height: 20px;
    border-radius: 10px;
    text-align: end;
    color: #fff;
    padding-right: 15px;
  }

  #progressbar2 {
    background-color: #e6f1ff;
    border-radius: 13px;
    padding: 3px;
  }

  #progressbar2 > div {
    background-color: #1479ff;
    width: 75%;
    height: 20px;
    border-radius: 10px;
    text-align: end;
    color: #fff;
    padding-right: 15px;
  }
}
